build/
*.user
*.autosave
*.o
*.obj
*.exe
*.dll
*.pdb
*.ilk
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
debug/
release/
build-local/
build-llvm-opencv/
